@charset "utf-8";
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', fangsong;
}

body {
    background-image: url("../images/demon-slayer-background.webp");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.tagline h2 {
    font-family: 'Oswald', fangsong;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.15em;
    position: absolute;
	top: 0;
	right: 0;
}

.title-block {
    text-align: center;
    margin-top: 2rem;
    position: absolute;
	top: 0;
	right: 0;
}

.title-block h1 {
    font-family: 'Oswald', fangsong;
    font-size: 3rem;
    margin: 0.5rem 0;
    position: absolute;
	top: 0;
	right: 0;
}

.title-block h2 {
    font-family: 'Oswald', fangsong;
    font-size: 2.2rem;
    position: absolute;
	top: 0;
	right: 0;
}

.release h2 {
    font-size: 2.8rem;
    font-family: 'Oswald', fangsong;
    position: absolute;
	top: 0;
	right: 0;
}

.imax {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    position: absolute;
	top: 0;
	right: 0;
}

.credits {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.8rem;
    opacity: 0.9;
    position: absolute;
	top: 0;
	right: 0;
}

