@charset "utf-8";
/* set default font */
html, body {
    height: 100%;
    margin: 0;
    font-family:  'Times New Roman', Times, serif;
}

/* Background poster img */
body {
    background-color: black;
    background-image: url("../images/demon-slayer-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    text-shadow: 0 0 5px black;
    position: relative;
    z-index: 0;

}

/* Bottom gradient */
body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.85));
    pointer-events: none;
    z-index: -1;
}

/* main content from poster */
.poster-content {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}

/* Tagline text h2 */
.tagline h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 0.37em;
     margin-top: -11rem;
}

/* Movie logo and size it */
.title-block img {
    height: 250px;
    width: auto;
}

/* movie logo and text position */
.title-block {
    text-align: center;
    margin-top: 600px;
    letter-spacing: 0.15em;
}

/* release date styling */
.release h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -3rem;
    letter-spacing: 0.15em;
}

/* styling text */
.release h3 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0rem;
    letter-spacing: 0.15em;
}

/* imax styling */
.imax {
    text-align: center;
    font-size: 1rem;
    margin-top: 0rem;
    letter-spacing: 0.15em;
}

/* made it bold at the end */
.imax-bold {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0rem;
}

/* Credits text styling */
.credits {
    text-align: center;
    margin-top: 0rem;
    font-size: 0.8rem;
    opacity: 0.9;
}

/* Side GIF borders */
.side-border {
    position: fixed;
    top: 0;
    width: 560px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 500px;
    z-index: 10;
    pointer-events: none;
}

/* Left GIF */
.side-left {
    left: 0;
    background-image: url("../images/demon-slayer-gif-better.gif");
    
}

/* Right GIF */
.side-right {
    right: 0;
    background-image: url("../images/nezuko-better.gif");
}

/* Heart button styling */
.heart-button {
    position: absolute;
    top: 900px;   
    right: 220px; 
    background: white;
    border: none;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
}

/* Message input area */
.message-box {
    text-align: left;
    margin-top: -215px;
    margin-left: 30px;
}

/* Text area styling */
#userMessage {
    width: 22%;
    height: 140px;
    padding: 10px;
    border-radius: 10px;
}

/* Post button styling */
#postButton {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Posted messages container */
.message-display {
    margin-top: -1000px;
    width: 25%;
    margin-left: 45px;
    margin-right: auto;
}

/* Individual posted messages */
.message-item {
    background: #222;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

/* Styling button */
.play-button {
  
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* trailer play button */
.play-button img {
    position: absolute;
    left: 1740px;
    top: 5px;
    width: 120px;
    transition: transform 0.1s ease;
}

/* Press animation */
.play-button:active img {
    transform: scale(0.95);
}

/* External ref link positions cites */
.ref1 {
    position: absolute;
    top: 30px;
    right: 170px;
    color: azure;
    font-size: 25px;
}

/* External ref link positions cites */
.ref2 {
    position: absolute;
    top: 60px;
    right: 230px;
    color: azure;
    font-size: 25px;
}

/* Styling comments title */
.text1 {
    position: absolute;
    top: 10px;
    right: 1510px;
    color: azure;
    font-size: 30px;   
}

/* Styling summary title*/
.text2 {
    position: absolute;
    top: 165px;
    right: 310px;
    color: azure;
    font-size: 30px;  
    z-index: 1; 
}

/* Summary text */
.p {
    position: absolute;
    top: 210px;         
    left: 1355px;        
    right: 35px;       
    bottom: 35px;      
    z-index: 1;
    font-size: 23px;
    color: darkblue;
    line-height: 1.5;
    text-align: center;
}

/* summary background img position */
.popup {
    position: absolute;
    top: 160px;
    left: 1350px; 
}

/* summary background img styling */
.popup img {
    height: auto;
    width: 500px;
    display: block;
}
