@charset "utf-8";
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../images/demon-slayer-background.webp");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.tagline h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.15em;
}