@charset "utf-8";
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', fangsong;
}

body {
    background-color: black;
    background-image: url("../images/demon-slayer-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    text-shadow: 0 0 5px black;
    position: relative;
    z-index: 0;

}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.85));
    pointer-events: none;
    z-index: -1;
}

.poster-content {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}

.tagline h2 {
    font-family: 'Oswald', fangsong;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 0.37em;
     margin-top: -11rem;
}

.title-block img {
    height: 250px;
    width: auto;
}

.title-block {
    text-align: center;
    margin-top: 600px;
    letter-spacing: 0.15em;
}

.release h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', fangsong;
    margin-top: -3rem;
    letter-spacing: 0.15em;
}

.release h3 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', fangsong;
    margin-top: 0rem;
    letter-spacing: 0.15em;
}

.imax {
    text-align: center;
    font-size: 1rem;
    margin-top: 0rem;
    letter-spacing: 0.15em;
}

.imax-bold {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0rem;
}

.credits {
    text-align: center;
    margin-top: 0rem;
    font-size: 0.8rem;
    opacity: 0.9;
}

.side-border {
    position: fixed;
    top: 0;
    width: 560px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 500px;
    z-index: 10;
    pointer-events: none;
}

.side-left {
    left: 0;
    background-image: url("../images/demon-slayer-gif-better.gif");
    
}

.side-right {
    right: 0;
    background-image: url("../images/nezuko-better.gif");
}

.heart-button {
    position: absolute;
    top: 900px;   
    right: 220px; 
    background: white;
    border: none;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
}

.message-box {
    text-align: left;
    margin-top: -215px;
    margin-left: 30px;
}

#userMessage {
    width: 22%;
    height: 140px;
    padding: 10px;
    border-radius: 10px;
}

#postButton {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.message-display {
    margin-top: -1000px;
    width: 25%;
    margin-left: 45px;
    margin-right: auto;
}

.message-item {
    background: #222;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.play-button {
  
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.play-button img {
    position: absolute;
    left: 1740px;
    top: 5px;
    width: 120px;
    transition: transform 0.1s ease;
}

.play-button:active img {
    transform: scale(0.95);
}

.ref1 {
    position: absolute;
    top: 30px;
    right: 170px;
    color: azure;
    font-size: 25px;
}

.ref2 {
    position: absolute;
    top: 60px;
    right: 230px;
    color: azure;
    font-size: 25px;
}

.text1 {
    position: absolute;
    top: 10px;
    right: 1510px;
    color: azure;
    font-size: 30px;   
}

.text2 {
    position: absolute;
    top: 165px;
    right: 310px;
    color: azure;
    font-size: 30px;  
    z-index: 1; 
}

.p {
    position: absolute;
    top: 210px;         /* Moves text down INTO the white area */
    left: 1355px;        /* Push text away from left border */
    right: 35px;       /* Push text away from right border */
    bottom: 35px;      /* Padding so text doesn’t touch bottom */
    z-index: 1;
    font-size: 23px;
    color: darkblue;
    line-height: 1.5;
    text-align: center;
}

.popup {
    position: absolute;
    top: 160px;
    left: 1350px; 
}

.popup img {
    height: auto;
    width: 500px;
    display: block;
}
