@charset "utf-8";
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', fangsong;
}

body {
    background-image: url("../images/demon-slayer-background.webp");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0 5px black;
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.85));
    pointer-events: none;
    z-index: -1;
}

.tagline h2 {
    font-family: 'Oswald', fangsong;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.15em;
}

.title-block {
    text-align: center;
    margin-top: 600px;
}

.release h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', fangsong;
    margin-top: -3rem;
    
    
}
.release h3 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', fangsong;
    margin-top: 0rem;
    
}

.imax {
    text-align: center;
    font-size: 1rem;
    margin-top: 0rem;
}

.imax-bold {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0rem;
}

.credits {
    text-align: center;
    margin-top: 0rem;
    font-size: 0.8rem;
    opacity: 0.9;
}

